<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target name="console" xsi:type="Console" />
        <target name="infoFile" xsi:type="File" fileName="${basedir}/logs/Payment.API/info/${shortdate}/infoLogs.txt" />
        <target name="warningsFile" xsi:type="File" fileName="${basedir}/logs/Payment.API/warnings/${shortdate}/warningLogs.txt" />
        <target name="errorsFile" xsi:type="File" fileName="${basedir}/logs/Payment.API/errors/${shortdate}/errorsLogs.txt" />
        <target name="debugsFile" xsi:type="File" fileName="${basedir}/logs/Payment.API/debugs/${shortdate}/debugsLogs.txt" />
        <target name="efCoreFile" xsi:type="File" fileName="${basedir}/logs/Payment.API/efcore/${shortdate}/efCoreLogs.txt" />


    </targets>
    <rules>
        <logger name="Microsoft.EntityFrameworkCore.*" minlevel="Trace" writeTo="efCoreFile" final="true"/>
        <logger name="*" levels="Info,Error,Debug,Warn,Trace,Fail" writeTo="console" />
        <logger name="*" levels="Info" writeTo="infoFile" final="true"/>
        <logger name="*" levels="Warn" writeTo="warningsFile" final="true"/>
        <logger name="*" levels="Error" writeTo="errorsFile" final="true"/>
        <logger name="*" levels="Debug" writeTo="debugsFile" final="true"/>
    </rules>
</nlog>